@import "../../../assets/dimen";
@import "../../../assets/color";

.nlanding-header {
  background: linear-gradient(-90deg, $primary-darker, $primary);
  height: 550px;
  width: 100%;
}

.dark .nlanding-header {
  background: linear-gradient(-90deg, $black-dark, $black-light);
}

.dark .nlanding-header .button-view {
  background: $primary;
}

.dark .nlanding-header .button-view:hover {
  background: $primary-darker !important;
}

.nlanding-h1-container {
  margin: $spacing;
}

.nlanding-h1-Momentum-AI {
  font-size: 24px;
  font-family: Kenar, serif;
  color: #ff9900;
  text-shadow: 4px 4px rgba(30, 30, 30, 0.5);
}

.dark .nlanding-h1-Momentum-AI {
  color: $primary;
}

.nlanding-h1-intro {
  font-size: 28px;
  color: white;
  font-family: Kenar, serif;
  opacity: 0.5;
}

.nlanding-h1-follow {
  font-size: 36px;
  font-family: Kenar, serif;
  color: #ff9900;
  text-shadow: 4px 4px 2px rgba(30, 30, 30, 0.5);
}

.dark .nlanding-h1-follow {
  color: $primary-dark-theme;
}
.comming-soon {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
}

.comming-soon p {
  text-align: end !important;
  margin: -16px 0 $spacing;
  font-size: 15px;
  transform: rotate(-30deg);
  color: $accent;
}

.comming-soon:hover {
  cursor: default !important;
}
.landing-icon {
  stroke: $white !important;
  opacity: 0.7;
  width: 32px;
  height: 32px;
  margin: 0 calc(50% - 16px);
  text-align: center;
  display: table;
}

.landing-icon * {
  stroke: $white !important;
}

.nlanding-get-started {
  width: 490px;
  margin: $spacing-four $spacing $spacing-eight;
}

.nlanding-get-started-text {
  color: white;
  font-family: Kenar, serif;
  opacity: 0.3;
  font-size: 36px !important;
  //text-shadow: 2px 2px rgba(30, 30, 30, 0.5);
}

.nlanding-get-started-button {
  height: 48px !important;
  width: 115px;
  border-width: 2px !important;
  background: $secondary;
  box-shadow: $box-shadow-bold;
}

.nlanding-get-started-button:hover {
  background: $secondary-darker !important;
}

.nlanding-get-started-button.button-view.large .icon-root {
  margin: 14px 0px !important;
  opacity: 0.7;
}

.nlanding-get-started-button p {
  line-height: 48px !important;
  font-size: 13px !important;
  opacity: 0.7;
}

.nlanding-hiring-cta {
  background: $background;
  height: 700px;
}

.nlanding-trusted-by {
  padding: $spacing-four 0;
}

.dark .nlanding-trusted-by {
  background: $black-dark;
  //padding: $spacing-four 0;
}

.nlanding-h2 {
  text-align: center;
  margin: $spacing-two;
  font-size: 32px;
  opacity: 0.7;
  color: $primary;
}

.nlanding-trusted-by-more {
  text-align: center;
  margin: $spacing-two;
  font-size: 18px;
  opacity: 0.7;
}

.nlanding-trusted-by-item {
  flex: calc(14.28% - 16px);
  padding: 8px;
  height: 88px;
}

.nlanding-trusted-by-item img {
  display: table;
  text-align: center;
  width: 80px;
  margin: auto;
  transition: $transition-all;
  height: 80px;
  filter: grayscale(70%);
}

.nlanding-trusted-by-item:hover img {
  filter: grayscale(0%);
  transform: scale(1.1);
}

.n-landing-abr-container {
  position: relative;
  width: 100%;
  height: 700px;
}

.n-landing-abr-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.n-landing-abr-front {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nlanding-hiring {
  width: 100%;
  padding: $spacing-eight 0;
}

.nlanding-hiring.primary {
  background: linear-gradient(
    90deg,
    $primary-darker-darker,
    $primary-darker,
    $primary
  );
}

.nlanding-hiring.accent {
  background: linear-gradient(-90deg, $accent-darker, $primary);
}

.nlanding-hiring.secondary {
  background: $primary;
}

.nlanding-hiring.white {
  background: $white;
}

.nlanding-hiring.background {
  background: $background;
}

.nlanding-image-container {
  height: 500px;
  position: relative;
  overflow: hidden;
}

@media (min-width: 992px) {
  .nlanding-image-container > * {
    transform: scale(1);
  }

  .nlanding-image-container {
    height: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nlanding-image-container > * {
    display: table;
    margin: auto !important;
    left: 0;
    right: 0;
    transform: scale(0.6);
  }
  .nlanding-image-container {
    width: 100%;
    flex: 100%;
    height: 300px;
  }
}

.padding-two-before-after-desktop {
  padding: $spacing-two 0;
}

@media (max-width: 767px) {
  .padding-two-before-after-desktop {
    padding: 0;
  }
  .home-convert-list {
    text-align: center;
  }
  .nlanding-text-item {
    font-size: 24px !important;
    line-height: 50px;
  }
  .nlanding-hiring {
    height: 640px;
    position: relative;
    padding: $spacing-two 0;
  }
  .nlanding-hiring .button-view {
    width: calc(100% - 64px);
    margin: $spacing $spacing-two !important;
  }
  .nlanding-hiring .master-column {
    flex: 100%;
  }
  .nlanding-image-container {
    width: 100%;
    height: 300px !important;
    position: absolute;
    top: 360px;
  }
  .nlanding-start-now {
    margin-top: 0 !important;
  }

  .nlanding-image-container > * {
    width: 100% !important;
    height: 300px !important;
  }
}

.nlanding-image-container > * {
  left: 0;
  top: 0;
  position: absolute;
  bottom: 0;
}

.nlanding-text {
  color: $text-color;
  margin: $spacing-two;
  font-size: 18px;
  text-align: center;
  opacity: 0.7;
}

//
//.nlanding-h2.white {
//  color: white;
//}

.nlanding-h2.solid {
}

.dark .nlanding-h2 {
  color: $white;
  text-shadow: 4px 4px rgba(30, 30, 30, 0.5);
  opacity: 1;
}

.dark.primary .nlanding-h2 {
  color: $secondary;
  text-shadow: 4px 4px rgba(30, 30, 30, 0.5);
  opacity: 1;
}

.dark.secondary .nlanding-h2 {
  color: $secondary;
  text-shadow: 4px 4px rgba(30, 30, 30, 0.5);
  opacity: 1;
}

.dark.accent .nlanding-h2 {
  color: $white;
  text-shadow: 4px 4px rgba(30, 30, 30, 0.5);
  opacity: 1;
}

.nlanding-start-now {
  font-family: Kenar, serif;
  text-align: center;
  font-size: 16px;
  margin: $spacing-two;
  opacity: 0.6;
}

.nlanding-hiring-advantages {
  width: 100%;
  padding: $spacing-eight 0;
  background: $background-light;
}

.dark .nlanding-hiring-advantages {
  background: $black-light;
}

.links-view {
  width: 100%;
  display: block;
  padding: $spacing-eight 0;
}

.links-view-item {
  padding: $spacing;
  margin: $spacing;
  border-radius: $button-border-radius;
  transition: $transition-all;
}

.links-view-item:hover {
  background: $white;
}

.dark .links-view-item:hover {
  background: rgba(255, 255, 255, 0.2);
}

.links-view-item .icon-root {
  fill: transparent;
  margin: $spacing;
  display: block;
}

.links-view-item .icon-root * {
  stroke: $primary;
}

.dark .links-view-item .icon-root {
  fill: transparent;
  margin: $spacing;
  display: block;
}

.dark .links-view-item {
  stroke: $white !important;
}

.dark .links-view-item .icon-root * {
  stroke: $white !important;
}

.toolbar .toolbar-button .icon-root * {
  fill: transparent !important;
}

.toolbar .toolbar-button .icon-root {
  fill: transparent !important;
}

.toolbar .fill-icon .icon-root {
  width: 24px;
}

.links-view-item p {
  color: $primary;
  margin: $spacing;
}

.dark .links-view-item p {
  color: $white;
}

.blog-container {
  width: 100%;
  background: $primary;
  overflow: hidden;
  position: relative;
}

.blog-container .nlanding-h2 {
  color: $white;
}

.blog-background {
  position: absolute;
  bottom: 0;
  margin-bottom: -16px;
}

.blog-content {
  padding-top: $spacing-four;
}

.secure-content {
  padding-top: $spacing-four;
  height: 370px;
}

.khialet-rahat-container {
  margin-left: -100px;
}

.khialet-rahat-container > * {
  transform: scale(1.5);
  height: 450px;
  width: 450px;
}

.nlanding-text-item {
  font-family: Kenar, serif;
  font-size: 34px;
  margin: $spacing-two 0;
  text-shadow: 4px 4px rgba(30, 30, 30, 0.9);
  color: $white;
  opacity: 1;
}

.nlanding-text-item * {
  opacity: 1;
}

.toolbar .no-white .fill-icon .icon-root * {
  fill: $primary !important;
  stroke: $primary !important;
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
  .nlanding-header {
  }
  .nlanding-h1-Momentum-AI {
    font-size: 18px;
  }
  .nlanding-h1-follow {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .nlanding-header {
    padding: $spacing-two;
  }
  .nlanding-h1-Momentum-AI {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .nlanding-heaMomentum-AI {
    position: unset;
    padding: 0;
    height: unset;
  }
  .nlanding-h1-container {
    line-height: 30px !important;
    text-align: center;
    position: unset;
    flex: 1;
  }
  .nlanding-header br {
    height: 0;
    line-height: 0;
    font-size: 0;
  }
  .nlanding-h1-Momentum-AI {
    font-size: 22px;
    font-family: Azarmehr, serif;
    line-height: 20px !important;
    text-shadow: none;
    position: unset;
  }
  .nlanding-h1-intro {
    font-size: 19px;
    margin: 0;
    line-height: 50px;
    font-family: Azarmehr, serif;
    position: unset;
  }
  .nlanding-h1-follow {
    font-size: 24px;
    line-height: 40px;
    font-family: Azarmehr, serif;
    text-shadow: none;
    margin: 0 $spacing-two;
  }

  .nlanding-get-started {
    width: unset;
    margin: $spacing $spacing $spacing;
  }

  .nlanding-get-started-text {
    position: unset;
    text-align: center;
    width: calc(100% - 32px);
    margin: $spacing-two;
    font-size: 20px !important;
  }
  .nlanding-get-started-button {
    width: 200px;
    margin: 0 calc(50% - 108px) !important;
    position: unset;
  }
  .nlanding-header-items-container {
    position: unset;
    padding: $spacing;
  }
  .nlanding-header-item-container {
    flex: calc(50% - 16px);
  }
  .nlanding-header-image {
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    display: none;
  }
  .nlanding-header-image > * {
    width: 200px !important;
    height: 200px !important;
  }
  .nlanding-h1-container-container {
    width: 100%;
  }
}
