@import "../../../../assets/color";
@import "../../../../assets/dimen";

.loading-view-loading-container {
  padding: $spacing-two 0 0;
}

.small .loading-view-loading-container {
  padding: $spacing 0;

}
.loading-view{
  flex-wrap: nowrap;
}

.loading-view-loading-bullet-container {
  width: 24px;
  height: 24px;
  margin: 2px;
  display: flex;
  align-content: center;
  align-items: center;
}

.loading-view-loading-bullet-col {
  width: 24px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.loading-view-loading-bullet {
  width: 20px;
  height: 20px;
  background: $primary;
  border-radius: 50%;
  animation: loading-view-loading-bullet-bounce 0.6s ease-in infinite;
}

.loading-view-loading-bullet-container:nth-of-type(2) .loading-view-loading-bullet {
  animation-delay: 0.1s;
  background: $primary-darker;
}

.loading-view-loading-bullet-container:nth-of-type(3) .loading-view-loading-bullet {
  animation-delay: 0.2s;
  background: $primary;
}

@keyframes loading-view-loading-bullet-bounce {
  0% {
	width: 20px;
	height: 20px;
  }
  25% {
	width: 24px;
	height: 24px;
  }
  50% {
	width: 20px;
	height: 20px;
  }
  100% {
	width: 20px;
	height: 20px;
  }
}


.loading-view-text {
  text-align: center;
  font-size: $font-size-s;
  color: $text-secondary;
  margin: $spacing-half 0 $spacing-two;
}


.mask.loading-view {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}

.dark .mask.loading-view {
  background: rgba(0, 0, 0, 0.5);
}
