$font-size-xxl: 32px;
$font-size-xl: 24px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;

$field-border: 1px solid rgba(0, 0, 0, 0.23);
$box-border-radius: 12px;
$button-border-radius: 16px;
$field-border-radius: 16px;

$icon-button-border-radius: 8px;
$chat-border-radius: 6px;
$toolbar-height: 48px;
$row-height: 32px;
$button-height: 36px;
$nav-width: 280px;

$spacing-eight: 64px;
$spacing-four: 32px;
$spacing-two: 16px;
$spacing: 8px;
$spacing-half: 4px;

$transition-all: 0.3s all ease;
$transition-heights: 0.3s height ease;
$line-height: 24px;
$icon-size: 16px;
