@import "../../assets/dimen";
@import "../../assets/color";

.auth-form {
  width: 450px;
}

.auth-anchor {
  background: $vicious-stance;
  height: 100%;
}

.auth-page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $white;
}
